body {
  background: #333;
  padding-top: 10%;
}

.present {
  width: 60%;
  margin: 0 auto;
}

.box,
.lid,
.contents {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.contents {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  top: 10vh;
  height: 0px;
  transition: all ease-out 0.7s;
}

.box,
.lid {
  background: radial-gradient(white 15%, transparent 16%), rgb(240, 58, 58);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
}

.box {
  height: 60vh;
}

.lid {
  height: 12vh;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: rgb(216, 52, 52);
  top: 0;
  left: 0;
  transition: top ease-out 0.5s, left ease-out 0.5s, transform ease-out 0.5s;
}

.box span,
.lid span {
  position: absolute;
  display: block;
  background-color: rgba(235, 199, 0, 0.8);
  box-shadow: 1px, 2px, 3px, rgba(0, 0, 0, 0.1);
}

.box span:first-child {
  width: 100%;
  height: 10vh;
  top: 40%;
}

.box span:last-child,
.lid span {
  width: 10vh;
  height: 100%;
  left: 45%;
}

.lid span {
  left: calc(50%+2px);
}

.contents p {
  font-size: 24px;
  margin: 0;
}

.contents h2 {
  font-size: 40px;
  margin: 0;
}

.present:hover .lid {
  top: -10vh;
  transform: rotateZ(10deg);
  left: 1vh;
}

.present:hover .contents {
  top: -5vh;
}
